.container#content {
  margin-top: 80px;
  object-fit: cover;
}
body {
  background: #fff;

  color: rgb(15, 15, 15);

  position: relative;
  min-height: 300px;
  overflow: hidden;
}
.skewed-bg::after {
  content: "";
  position: absolute;
  bottom: -55%;
  left: 0;
  right: 0;
  height: 100%;
  background: transparent;
  transform: skew(0deg, -9deg);
}
a {
  color: #0c0c0c;
  &:hover {
    color: #ff6600;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: #ffffff;
  font-size: 16px;

  //border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #7d7d7e;
  &:hover {
    color: #0e41e9;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.intro {
  margin: 0;
  padding: 20px;
  height: 500px;
  background: #4a5e75;
}

@media only screen and (max-width: 600px) {
  .introText {
    color: white;
    padding: 20px 40px 0px 40px;
    text-align: left;
    font-family: Raleway;
  }
}

.introText {
  color: white;
  padding: 50px 70px 0px 70px;
  text-align: left;
  font-family: Raleway;
}

.introP {
  color: white;
  padding: 10px 70px 0px 70px;
  text-align: left;
  font-family: Raleway;
}

.introB {
  margin: 70px;
}

.introS {
  margin-top: 50px;
}

@media only screen and (max-width: 650px) {
  .introS {
    display: none;
  }
}

.hero {
  background: #4a5e75;
  padding: 20px;
  font-size: 40px;
  color: white;
  font-family: "raleway";
  text-align: center;
  margin-bottom: 20px;
}
